.container {
  display: flex;
  height: 100px;
  align-items: center;
  background-color: #F9F1E7;
}

.content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 8px;
}

.separator {
  height: 100%;
  padding-left: 8px;
  height: 100%;
  border-left: 1px solid #9F9F9F;
   /* Apenas para visualização */
}