.container {
  width: 17rem;
  height: 446px;
  background-color: #F4F5F7;
  max-width: 300px;
  position: relative;
}

.content {
  display: flex;
  flex-direction:column;
  margin: 1rem;
  gap: 0.5rem;
}

.title {
  font-size: 1.4rem;
}

.price {
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 2.5rem;
}

.priceOld {
  text-decoration: line-through;
  color: #B0B0B0;
  font-weight: 400;
  font-size: 0.8rem;
}


.badge {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff; 
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.badge.new {
  background-color: #2EC1AC; 
}

.badge.discount {
  background-color: #E97171; 
}

.imgContainer {
  width: 100%;

}

.description {
  color:#898989
}

.containerPrice {
  display: inline-block;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
}

.hover > button {
  color: #B88E2F;
  cursor: pointer;
  font-size: 16px; 
  padding: 10px 50px;
  transition: background-color 0.3s ease;
}

.hover:hover {
    opacity: 1;
}
.hover > div {
  display: flex;
  gap: 20px;
}

.hover > div > button {
  display: flex;
  border: none;
  color: #fff;
  justify-content:center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s ease;
  gap: 5px;
}

.hover > div > button > img {
  margin: 0 auto;
}
