.header {
  height: 100px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0px 70px 0px 70px
}

.logo {
  padding-right: 90px
}

.nav {
  display: flex;
  gap: 10px
}