/* Banner.module.css */
.container {
  display: grid;
  place-items: center;
  position: relative;
  height: 300px; 
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
